################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Manage/copilot-chat/fcb21197/sessions
/.vs/Manage/CopilotIndices/17.14.670.39694
/.vs/ProjectEvaluation
/.vs/Manage/FileContentIndex
